<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Exprimati frustrarile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 0.5C6.1075 0.5 0.5 6.1075 0.5 13C0.5 19.8925 6.1075 25.5 13 25.5C19.8925 25.5 25.5 19.8925 25.5 13C25.5 6.1075 19.8925 0.5 13 0.5ZM18.2588 16.4913L16.4913 18.2588L13 14.7675L9.50875 18.2588L7.74125 16.4913L11.2325 13L7.74125 9.50875L9.50875 7.74125L13 11.2325L16.4913 7.74125L18.2588 9.50875L14.7675 13L18.2588 16.4913Z" fill="#263238"/>
            </svg>
          </button>
        </div>
        <div class="modal-body">
            <form action="" className=" py-5">
                <div class="form-group">
                    <select id="inputState" class="form-control">
                        <option selected>Alege Materia</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Titlul proiectului"/>
                </div>
                <button type="submit" class="btn btn-primary custom-btn-1 justify-content-center">Trimite</button>
            </form>
        </div>
        <div class="modal-footer">
            <div class="container d-flex flex-column-reverse bd-highlight mb-3 py-4">
                <div class="p-2 bd-highlight">
                    <div>tetris</div>
                    <div>ecc</div>
                </div>
                <div class="p-2 bd-highlight">
                    <div>tetris</div>
                    <div>ecc</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  

  <div className="w-50">
    <nav class="navbar pop-up">
        <div className="navar-brand">Exprimati frustrarile</div>
        <div className="close">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 0.5C6.1075 0.5 0.5 6.1075 0.5 13C0.5 19.8925 6.1075 25.5 13 25.5C19.8925 25.5 25.5 19.8925 25.5 13C25.5 6.1075 19.8925 0.5 13 0.5ZM18.2588 16.4913L16.4913 18.2588L13 14.7675L9.50875 18.2588L7.74125 16.4913L11.2325 13L7.74125 9.50875L9.50875 7.74125L13 11.2325L16.4913 7.74125L18.2588 9.50875L14.7675 13L18.2588 16.4913Z" fill="#263238"/>
            </svg>
        </div>
    </nav>
    <div className="container">
        <form action="" className=" py-5">
            <div class="form-group">
                <select id="inputState" class="form-control">
                    <option selected>Alege Materia</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Titlul proiectului"/>
            </div>
            <button type="submit" class="btn btn-primary custom-btn-1 justify-content-center">Trimite</button>
        </form>
    </div>
    <nav class="navbar pop-up">
        <div className="navar-brand">Plangerile introduse poana acum</div>
    </nav>
    <div class="container d-flex flex-column-reverse bd-highlight mb-3 py-4">
        <div class="p-2 bd-highlight">
            <div>tetris</div>
            <div>ecc</div>
        </div>
        <div class="p-2 bd-highlight">
            <div>tetris</div>
            <div>ecc</div>
        </div>
    </div>
</div>



<div class="p-2 bd-highlight">
    <div>tetris</div>
    <div>ecc</div>
</div>
<div class="p-2 bd-highlight">
    <div>tetris</div>
    <div>ecc</div>